body {
  font-family: Arial;
  background: #f4f6f9;
}

.container {
  max-width: 900px;
  margin: 50px auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

input, textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  margin-top: 10px;
  padding: 12px;
  width: 100%;
  background: #4a6cf7;
  color: white;
  border: none;
}
