.login-box {
  max-width: 300px;
  margin: 120px auto;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
}

.login-box input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}
